<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">{{ sitename }}</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% for item in menu %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{item.link}}">{{item.text}}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav mr-1">
                {% for item in auth_menu %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ item.link }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>